/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Styles */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    max-width: 1600px;
}

/* Header Styles */
.header-section {
    width: 100% auto;
    height: 92px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

nav {
    display: flex;
    padding: 16px 120px 16px 120px;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-links ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}

.nav-btn ul {
    list-style: none;


}

.btn {
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    color: #FFFFFF;
    cursor: pointer;

}

.btn:hover {
    background-color: #36754C;
}

/* Banner Section Styles */
#banner {
    width: 100% auto;
    height: 674px;
    /* background-color: #001931cc; */
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
}

.main-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 109px;
}

.banner-btn-top {
    background-color: rgba(255, 255, 255, 1);
    width: 229px;
    height: 35px;
    gap: 6;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    color: rgba(70, 145, 101, 1);
}

.banner-btn-top .text {
    justify-content: center;
    align-items: center;
    padding: 0 auto;
}

.banner-heading .white {
    color: #FFFFFF;
}

.banner-heading .blue {
    color: #30B868;
}

.banner-heading h2 {
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    line-height: 84px;
}

.banner-heading {
    padding: 16px;
}

.banner-heading p {
    color: rgba(255, 255, 255, 1);
    ;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    padding: 16px;
}

#bottom-btn {
    display: flex;
    padding: 32px;
    justify-content: center;
    gap: 10px;
}

#banner-btn-bottom-right button {
    width: 198px;
    height: 52px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 4px;
}

.banner-btn-bottom button {
    width: 251px;
    height: 52px;


}



/* Notes Section */
.notes {
    width: 100%;
    height: 448;
}

.notes-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.notes-content h2 {
    color: rgba(0, 25, 49, 1);
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    padding: 76px 0 0 0;
}

.notes-content p {
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

#card-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notes-image {
    width: 32px;
    height: 32px;

    background-color: red;

    -webkit-mask-image: url("./assets/Vector.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask-image: url("./assets/Vector.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    align-items: center;
}

.bookmark-image {
    width: 32px;
    height: 32px;

    background-color: red;

    -webkit-mask-image: url("./assets/Bookmarks.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask-image: url("./assets/Bookmarks.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    align-items: center;
}

.no-idea-image {
    width: 32px;
    height: 32px;

    background-color: red;

    -webkit-mask-image: url("./assets/Brain.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask-image: url("./assets/Brain.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    align-items: center;
}

.info-image {
    width: 32px;
    height: 32px;

    background-color: red;

    -webkit-mask-image: url("./assets/Info.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask-image: url("./assets/Info.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    align-items: center;
}

.notes-card,
.bookmark-card,
.no-idea-card,
.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 16px;
    width: 322px;
    height: 300px;
}

.notes-text,
.bookmark-text,
.no-idea-text,
.info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.notes-text h3,
.bookmark-text h3,
.no-idea-text h3,
.info-text h3 {
    color: rgba(0, 25, 49, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}

.notes-text p,
.bookmark-text p,
.no-idea-text p,
.info-text p {
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

/* Second Brain Section */
.second-brain-section {
    width: 100%;
    height: 840px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    padding: 120px 120px 120px 120px;
}

.second-brain-image {
    width: 600px;
    height: 600px;
}
.second-brain-right h4{
    color: rgba(70, 145, 101, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}
.second-brain-right h2 {
    color: rgba(0, 25, 49, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
    padding: 16px 0 16px 0;
}
.second-brain-right p {
    color: rgba(98, 115, 130, 1);
    width: 700px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    padding: 16px 0 16px 0;
    text-wrap: wrap;
}
.second-brain-right-text {
    width: 700px;
    height: 128px;
    color: rgba(0, 25, 49, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}
.second-brain-right-bottom{
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
/* Footer Section */
.footer-section {
    width: 100% auto;
    height: 506px;
    background-color: #F5F7FA;
    margin: 0 auto;
    padding: 0 120px 120px 120px;
}
.footer-content {
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-color: rgba(247, 246, 242, 1);
}
.footer-content h2 {
    color: rgba(0, 25, 49, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.footer-content p {
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-wrap: wrap;
    width: 1280px;
    height: 48px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.main-footer{
    width: 100% auto;
    height: 348px;
    padding: 120px 120px 30px 120px;
    background: rgba(0, 25, 49, 1);
}
.main-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-links h6 {
    width: 113px;
    height: 28px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}
.social-links a {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 1000px;
    gap: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
.footer-links p{
    color: rgba(250, 250, 250, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 80px;
}