/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  max-width: 2042px;
}
/* Header Styles */
.header-section {
    width: 100% auto;
    height: 92px;
    background-color: #FFFFFF;
    margin: 0 auto;
}
nav {
    display: flex;
    padding: 16px 120px 16px 120px;
    justify-content: space-between;
    align-items: center; 
}
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 32px;
}
.nav-links ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}
.nav-btn ul {
    list-style: none;
    
    
}
.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    color: #FFFFFF;
    cursor: pointer;
   
}
.btn:hover {
        background-color: #36754C;
}
/* Banner Section Styles */
#banner {
    width: 100% auto;
    height: 1363px;
    background-color: #001931cc;
    margin: 0 auto;
    background-image: url(./assets/hero-bg.png);
}
.main-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-btn-top{
    background-color: rgba(255, 255, 255, 1);
    width: 229px;
    height: 35px;
    gap: 6;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    color: rgba(70, 145, 101, 1);
    
}
.banner-btn-bottom{
    display: flex;
    justify-content: center;
}